* {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 5px 20px;
    flex-wrap: wrap;
    
}

header a {
    color: green;
    padding: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

header a:hover {
    color: blue;
}

header h4 {
    padding: 10px;
}

main {
    display: flex;
    justify-content: center;
}

.quiz-wrapper {
    display: flex;
    padding: 2% 10%;
    flex-wrap: wrap;
    width: 75%;
}

h1.quiz-header {
    margin:  10px 0 0 0;
}

.go-back, .clear-scores {
    background-color: blueviolet;
    color: white;
    border-color: blueviolet;
    padding: 6px 7px;
    border: outset;
}

.clear-scores:hover {
    background-color: darkcyan;
    border-color: darkcyan;
}

.go-back:hover {
    background-color: darkcyan;
    border-color: darkcyan;
}

p {
    font-size: large;
}

.quiz-content {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.start-btn {
    background-color: blueviolet;
    color: white;
    border-color: blueviolet;
    padding: 7px 10px;
    border: outset;
}

.start-btn:hover {
    background-color:darkcyan;
}

.qsOneOptionOneBtn, .qsOneOptionTwoBtn, .qsOneOptionThreeBtn, .qsOneOptionFourBtn {
    margin-top: 20px;
    text-align: left;
    background-color: blueviolet;
    color: white;
    border-color: blueviolet;
    border: outset;
    padding: 7px 10px;
}

.qsOneOptionTwoBtn, .qsOneOptionThreeBtn, .qsOneOptionFourBtn {
    margin-top: 15px;
}

.qsOneOptionOneBtn:hover, .qsOneOptionTwoBtn:hover, .qsOneOptionThreeBtn:hover, .qsOneOptionFourBtn:hover, .submit-initials:hover {
    background-color: darkcyan;
    border-color: darkcyan;
    border: outset;   
}

.submit-initials {
    background-color: blueviolet;
    color: white;
    border-color: blueviolet;
    border: outset;
    padding: 7px 10px;
}

.hide {
    visibility: hidden;
}

.final-score-div {
    display: block;
    width: 100%;
    margin-right: 100px;
    margin-top: 20px;
}

.input-field {
    padding: 6px 6px 6px 6px;
    margin-right: 7px;
}

